*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header{
    background-color: #212326;
    position: fixed;
    top: 0;
    width: 100%; 
}

.gradient{
    background-image: linear-gradient(#ffffff, #f3f3f6);
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    color: #f5f6f7;
    padding-block: 20px 10px;
    justify-content: center;

}
.reactNav{
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}

#react-logo{
    width: 40px;
}

.nav-links{
    display: flex;
    font-size: 1.1em;
    align-items: center;
    list-style: none;
    padding-right: 20px;
    gap: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.dropdown-content{
    display: none ;
}

.nav-img{
    width: 30px;
}

.light-img{
    width: 40px;
}

.social-cont{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

.social-btn{
    display: flex;
    align-items: center;
    height: 35px;
    padding: 10px;
    font-size: 1em;
}
.tw-btn{
    border-radius: 50px;
    background-color: #000000;
    color: white;
    border: 0;
}

.tw-btn:hover{
    background-color: #3B3939;
}

#x-btn{
    width: 20px;  
}
#star-btn{
    width: 15px;  
    padding-right: 5px;
}

.container-1{
    background-image: url('./assets/backdrop-1.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 5em;
}



.sub1-1{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column; 
    padding-bottom: 20em;
    /* flex-grow: 1; */
}

.sub1-1 h1{
    margin-top: 40px;
    font-size: 2.8em;
}

.sub1-1 p{
    margin: 20px;
    font-size: 1.8em;
    color: #404756;
}

#cont-1-logo{
    width: 150px
}

.btn-cont-1{
    margin-top: 10px;
}

.cont-1-btn{
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-1{
    color: white;
    font-weight: 300;
    border: 0;
    background-color: #087ea4;
}

.btn-2{
    background-color: white;    
    border:  #373737 2px solid;
}

.container-2{
    display: flex;
    margin-top: 6em;
    flex-direction: column;
    text-align: center;
   
}

.container-2 h1{
    display: flex;
    font-size: 3em;
    padding: 0 5em;   
}

.container-2 p{
    display: flex;
    margin-top: 30px;
    font-size: 1.4em;
    padding: 0 13em;
    line-height: 1.3em; 
    color: #404756;  
}

.mainContainer{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.container-i{
    min-width: 400px;
    min-height: 400px;
    border: #e5e7eb 2px solid;
    border-radius: 10px;
    background-color: white ;
}

.head{
    margin: 0;
    background-color: #f6f7f9;
    padding: 15px;
    padding-left: 15px;
    border-bottom: #e5e7eb 2px solid;
}

.rest{
    padding: 20px;
}

.container-ii{
    margin-left: 3em;
}

.container-ii img{
    max-width: 400px;
}


.container-3{
    display: flex;
    flex-direction: row;   
     align-items: center;
    justify-content: center; 
    width: 1000px;
    height: 300px;
    background-image: linear-gradient(to right, #f1e5fc, #e0eefb, #d7f2ec);
    border-radius: 20px;
}

.bold{
    font-weight: bold;
}

.container-4{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    align-items: center ;
    justify-content: center;
}

.a4-img img{
    width: 100px;
}

.a4-text{
    max-width: 500px;
    margin-left: 20px;
}

.container-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}
.container-5i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.container-card{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card img{
    width: 290px;
    margin: 0;
    border: 1px #e0e0e0 solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.textcont{
    width: 250px;
    border: 1px #e0e0e0 solid;
    margin:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px
}

.textcont h1{
    font-size: 1.3em;
    /* padding-top: 10px; */
}

.container-5 h1{
    font-size: 2.5em;
}

.a5-text{
    max-width: 800px;
    margin-top: 30px;
    font-size: 1.3em;
}
.a6-text{
    max-width: 1000px;
    margin-top: 30px;
    font-size: 1.3em;
}

.container-5 img{
    width: 70vh;
    margin-top: 50px;
}

.sp-text{
    background-color: #ececed;
    padding: 2px 5px;
    border: 1px #e0e0e0 solid;
    border-radius: 10px;
}

.container-6{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    gap: 40px;
    /* background-color: #f3f3f5; */
    padding: 40px 0;
    font-weight: 2;
    flex-direction: column;
    align-items: center;
}

.section-6-ii{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-6 h1{
    font-size: 2.8em;
}

.text-side{
    max-width: 450px;
    font-size: 1em;
    letter-spacing: 1px;
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
    padding-top: 20px;
    color: #3f4143;
}

.logos{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3f4143;
}

.logos img{
    width: 80px;
    border-radius: 20px;
    margin: 0 5px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.logos p{
    margin-bottom: 10px;
}


.container-7{
    background-image: url('./assets/backdrop-2.png');
    background-size: cover;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.section-7-i{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 180px 0;   
    opacity: 1;
}

.anchors{
    text-decoration: none;
    color: #357da1;
}


footer {
    /* background-color: #f0f4ff; Light blue background */
    /* padding: 60px 20px; */
    font-family: Arial, sans-serif;
    background-color: #20232a;
}

.footer-cont {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.footer-column {
    margin: 20px;
    padding-right: 100px;
}

.footer-column h4 {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.fsec2{
    display: flex;
    flex-direction: column;
    color: #858a96;
    align-items: center;
    padding-bottom: 40px;
}

.fsec2 img{
    width: 300px;
    opacity: 0.5;
}

.paddingBottom{
    padding-bottom: 5em;
}