*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #212326;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    color: #f5f6f7;
    padding-block: 20px 10px;
    

}
.reactNav{
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}

#react-logo{
    width: 40px;
}

.nav-links{
    display: flex;
    font-size: 1.1em;
    align-items: center;
    list-style: none;
    padding-right: 20px;
    gap: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.dropdown-content{
    display: none ;
}

.nav-img{
    width: 30px;
}

.light-img{
    width: 40px;
}

.social-cont{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

.social-btn{
    display: flex;
    align-items: center;
    height: 35px;
    padding: 10px;
    font-size: 1em;    
}
.tw-btn{
    border-radius: 50px;
    background-color: #000000;
    color: white;
    border: 0;
}

.tw-btn:hover{
    background-color: #3B3939;
}

#x-btn{
    width: 20px;  
}
#star-btn{
    width: 15px;  
    padding-right: 5px;
}

.container-1{
    background-image: url('./assets/backdrop-1.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 5em;
}



.sub1-1{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column; 
    padding-bottom: 20em;
    /* flex-grow: 1; */
}

.sub1-1 h1{
    margin-top: 40px;
    font-size: 2.8em;
}

.sub1-1 p{
    margin: 20px;
    font-size: 1.8em;
    color: #404756;
}

#cont-1-logo{
    width: 150px
}

.btn-cont-1{
    margin-top: 10px;
}

.cont-1-btn{
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-1{
    color: white;
    font-weight: 300;
    border: 0;
    background-color: #087ea4;
}

.btn-2{
    background-color: white;    
    border:  #373737 2px solid;
}

.container-2{
    display: flex;
    margin-top: 6em;
    flex-direction: column;
    text-align: center;
   
}

.container-2 h1{
    display: flex;
    font-size: 3em;
    padding: 0 5em;   
}

.container-2 p{
    display: flex;
    margin-top: 30px;
    font-size: 1.4em;
    padding: 0 13em;
    line-height: 1.3em; 
    color: #404756;  
}

.mainContainer{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.container-i{
    min-width: 400px;
    min-height: 400px;
    border: #e5e7eb 2px solid;
    border-radius: 10px;
    background-color: white ;
}

.head{
    margin: 0;
    background-color: #f6f7f9;
    padding: 15px;
    padding-left: 15px;
    border-bottom: #e5e7eb 2px solid;
}

.rest{
    padding: 20px;
}

.container-ii{
    margin-left: 3em;
}

.container-ii img{
    max-width: 400px;
}


.container-3{
    display: flex;
    flex-direction: row;   
     align-items: center;
    justify-content: center; 
    width: 1000px;
    height: 300px;
    background-image: linear-gradient(to right, #f1e5fc, #e0eefb, #d7f2ec);
    border-radius: 20px;
}